@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-feature: var(--feature);
  --color-third: var(--third);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #353535;
  --primary-foreground: #fbfbfb;
  --secondary: #f8f8f8;
  --secondary-foreground: #353535;
  --third: #f4f4f0;
  --feature: #fb64b6;
  --muted: #f8f8f8;
  --muted-foreground: #8e8e8e;
  --accent: #f8f8f8;
  --accent-foreground: #353535;
  --destructive: #dc2626;
  --border: #000000;
  --input: #000000;
  --ring: #b5b5b5;
  --chart-1: #f97316;
  --chart-2: #0ea5e9;
  --chart-3: #6366f1;
  --chart-4: #84cc16;
  --chart-5: #eab308;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #353535;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #353535;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #000000;
  --foreground: #fbfbfb;
  --card: #000000;
  --card-foreground: #fbfbfb;
  --popover: #000000;
  --popover-foreground: #fbfbfb;
  --primary: #ebebeb;
  --primary-foreground: #353535;
  --secondary: #454545;
  --secondary-foreground: #fbfbfb;
  --third: #151515;
  --feature: #c7287f;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #fbfbfb;
  --destructive: #ef4444;
  --border: #ffffff;
  --input: #ffffff;
  --ring: #8e8e8e;
  --chart-1: #8b5cf6;
  --chart-2: #10b981;
  --chart-3: #eab308;
  --chart-4: #ec4899;
  --chart-5: #f97316;
  --sidebar: #353535;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #8b5cf6;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
