@import "tailwindcss";
@import "tw-animate-css";

@import "../../styles/scrollbar.css";
@import "../../styles/keyframes.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #dcebfe;
  --secondary-background: #ffffff;
  --foreground: #000000;
  --main-foreground: #000000;
  --main: #5294ff;
  --border: #000000;
  --ring: #000000;
  --overlay: rgba(0, 0, 0, 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #5294ff;
  --chart-2: #ff4d50;
  --chart-3: #facc00;
  --chart-4: #05e17a;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;
}

.dark {
  --background: #20294b;
  --secondary-background: #1f1f1f;
  --foreground: #e6e6e6;
  --main-foreground: #000000;
  --main: #5294ff;
  --border: #000000;
  --ring: #ffffff;
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #5294ff;
  --chart-2: #ff6669;
  --chart-3: #e0b700;
  --chart-4: #04c86d;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  /* Breakpoints customize */
  --breakpoint-xs: 26rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
