/* Keyframes customize */
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes raw-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 1rem));
  }
}

@keyframes raw-slide-up {
  0% {
    transform: translateY(calc(100% + 1rem));
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-slide-down {
    animation: slide-down 0.5s ease-out forwards;
  }

  .animate-raw-slide-down {
    animation: raw-slide-down 0.2s ease-out forwards;
  }

  .animate-raw-slide-up {
    animation: raw-slide-up 0.2s ease-out forwards;
  }
}
